<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center my-5">
      <div class="card">
        <img
          src="{{ car?.modelImage }}"
          class="card-img-top img-fluid"
          alt="car's img"
        />
        <div class="card-body d-flex flex-column align-items-center mt-4">
          <h5 class="card-title mb-2">{{ car?.brand }} {{ car?.model }}</h5>
          <p class="card-text mb-2">Anno: {{ car?.year }}</p>
          <p class="card-text mb-2">Prezzo: {{ car?.price }}€</p>
          <p class="card-text text-nowrap:">
            Pronta consegna:
            <span
              [ngClass]="{
                'bg-success': car?.available,
                'bg-danger': !car?.available
              }"
            >
              {{ car?.available ? "si" : "no" }}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
