<div class="container-fluid bg-dark text-center">
  <div class="row row-cols-md-2 align-items-center">
    <div class="col d-none d-md-block">
      <img src="../../../assets/img/logo.png" alt="logo" />
    </div>
    <div class="col d-flex flex-column align-items-center">
      <div class="d-flex">
        <i class="bi bi-geo-alt-fill me-2"></i>
        <a
          href="https://www.google.it/maps/search/via+tal+dei+tali,+25+-+00100+-+Torino/@45.0735965,7.5931915,12z/data=!3m1!4b1?entry=ttu"
          target="_blank"
        >
          Via Tal dei Tali, 25 - 00100 - Torino
        </a>
      </div>
      <div class="d-flex my-2">
        <i class="bi bi-telephone-fill me-2"></i>
        <a href="tel:+391124567845">+39 (011) 2456-7845</a>.
      </div>
      <div class="d-flex">
        <i class="bi bi-envelope-arrow-up-fill me-2"></i>
        <a href="mailto:info@example.com">info&#64;autorent.auto</a>
      </div>
    </div>
  </div>
</div>
<div class="col"></div>
