body {
  display: flex;
  justify-content: center;
}

#scoreboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.cellNumber {
  text-align: center;
  width: 2em;
  height: 2em;
  border: solid 1px black;
  margin: 0;
}

.out {
  background-color: green;
}

#folders {
  justify-content: center;
  margin-bottom: 10px;
}

.folder {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}
