main {
  background-image: url(../img/background.avif);
  background-size: cover;
}

#detailsPage {
  modal-body {
    border-color: black;
  }
}

#indexPage {
  .card {
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 16px rgba(255, 0, 0, 0.5);
  }

  .card-body {
    height: 300px;
    width: 100%;
  }

  .card img {
    height: 150px;
  }

  .card p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
