/* -------------------- GLOBAL -------------------- */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  color: #393d41;
  font-size: 1.2rem;
  line-height: 1.65;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #25a2c3;
}

a {
  text-decoration: none;
}

/* -------------------- HEADER -------------------- */
header {
  background-color: black;
}

.logo {
  width: 200px;
  padding: 1em 2em;
}

/* -------------------- MAIN -------------------- */
/* --- hero --- */
#hero {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: top;
  height: 30em;
  text-align: center;
}

#hero div {
  padding-top: 9em;
}

#hero h1 {
  font-size: 2em;
}

#hero p {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 2em;
}

#hero button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #f04c2f;
  margin: auto;
  padding: 1em;
  border: none;
  border-radius: 5px;
  width: 10em;
  font-size: 0.75em;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
}

#hero button a {
  color: white;
}

/* --- pcSection --- */
#pcSection {
  margin: 6em 0;
  text-align: center;
}

#pcSection div {
  display: inline-block;
  vertical-align: middle;
}

#pcSection .container {
  width: 30%;
  text-align: right;
  margin-right: 2.5em;
}

#pcSection img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.slogan {
  width: 30%;
  text-align: left;
  margin-left: 2.5em;
}

.slogan p {
  margin-bottom: 1.5em;
}

#pcSection h3 {
  font-size: 1.25em;
}

/* --- redSection --- */
#redSection {
  background-color: #e22d0e;
  color: #ffffff;
  font-weight: lighter;
  padding: 5em;
}

#redSection div {
  margin: auto;
  text-align: center;
}

#redSection h2 {
  color: white;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#redSection a {
  color: #ffffff;
}

.testimony {
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 1em;
}

.author {
  font-weight: lighter;
}

.ceo {
  font-size: 0.6em;
  font-weight: lighter;
}

/* --- cardSection --- */
#cardSection {
  margin: 4em 0;
}

.wrapper {
  text-align: center;
}

#cardSection figure {
  display: inline-block;
  width: 20rem;
  margin: 2em 1em;
  text-align: center;
  border: 1px solid #dee1e3;
}

#cardSection img {
  width: 100%;
  height: 10em;
}

#cardSection figcaption {
  margin: 1em 1em 2em;
}

#cardSection p {
  color: black;
}

/* -------------------- FOOTER -------------------- */
footer {
  background-color: #25a2c3;
  color: white;
  margin: auto;
}

#contacts {
  padding: 2em;
  width: 40vh;
  margin: 0 auto;
  text-align: center;
}

#contacts h2 {
  color: white;
  font-size: 3em;
  margin-bottom: 0.5em;
  width: 100%;
}

#contacts p {
  text-align: left;
}

#contacts a {
  color: #c8e7f0;
  text-decoration: underline;
}

#contacts .address a {
  text-decoration: none;
}

#contacts div > hr {
  text-align: center;
  margin: 2em auto;
}

#contacts .copyright {
  font-size: 0.75em;
  text-align: center;
  color: #c8e7f0;
}
