<div class="container">
  <!-- Hero -->
  <div id="hero" class="row py-5">
    <div class="col-12 text-center">
      <div>
        <img class="img-fluid" src="../../../assets/img/logo.png" alt="logo" />
      </div>
      <div class="mt-3">
        <h1>TI STIAMO OSSERVANDO</h1>
      </div>
    </div>
  </div>
  <!-- Brands -->
  <div class="d-none d-lg-flex row row-cols-3 border-bottom py-5">
    <div class="col-12 text-center mb-5">
      <h2>I nostri marchi</h2>
    </div>
    <div class="col text-center">
      <a routerLink="/carBrands/:Audi"
        ><img src="../../../assets/img/Audi.png" alt="logo Audi"
      /></a>
    </div>
    <div class="col text-center">
      <a routerLink="/carBrands/:Fiat"
        ><img src="../../../assets/img/Fiat.png" alt="logo Fiat"
      /></a>
    </div>
    <div class="col text-center">
      <a routerLink="/carBrands/:Ford"
        ><img src="../../../assets/img/Ford.png" alt="logo Ford"
      /></a>
    </div>
  </div>
  <!-- Featured cars -->
  <div class="row mt-5">
    <div class="col text-center">
      <h2>Auto in evidenza</h2>
    </div>
  </div>
  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 justify-content-center my-5"
  >
    <div class="col" *ngFor="let x of carsArray">
      <app-card [carCard]="x"></app-card>
    </div>
  </div>
</div>
